<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body background="https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/02/15/23/forest-smoke.jpg"
      style="background-position: center; background-repeat: no-repeat; background-size: cover;">
<div id="username-page">
    <div class="username-page-container">
        <h1 class="title">Please register</h1>
        <form id="regForm" name="regForm">
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Username"
                       autocomplete="off" class="form-control" />
                <p class="errorAnnot" id="erLog">Current user already exist</p>

                <input type="password" id="password" name="password" placeholder="Password"
                       autocomplete="off" class="form-control" />
                <p class="errorAnnot" id="erPasShort">Password is too short</p>
                <input type="password" id="rep_password" name="rep_password" placeholder="Repeat password"
                       autocomplete="off" class="form-control" />
                <p class="errorAnnot" id="erPas">Not the same password</p>
            </div>
            <div class="form-group">
                <button type="submit" class="accent username-submit">Register</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#erLog").hide();
        $("#erPas").hide();
        $("#erPasShort").hide();
    });


    $('#regForm').on('submit',function(e){
        e.preventDefault();
        $("#erPasShort").hide();

        if ($('#password').val() === $('#rep_password').val()) {
            $("#erPas").hide();

            if($('#username').val() !== ""){
                $("#erLog").hide();

                var user = new Object();
                user.username = $('#username').val();
                user.password = $('#password').val();

                var jsonUserReg = JSON.stringify(user);

                $.ajax({
                    url: 'http://localhost:9000/register',
                    type: 'post',
                    data: jsonUserReg,
                    contentType: 'application/json',
                    success: function (data, status, xhr) {
                        if(data === "exist"){
                            $("#erLog").show();
                        } else {
                            window.sessionStorage.setItem('username',  $('#username').val());
                            // get to chat
                            window.location.replace("http://localhost:9000/login");

                        }
                    },
                    error: (e) => {
                        $("#erPasShort").show();
                    }
                })
            }
        }
        else{
            $("#erPas").show();
        }
    });
</script>


<script
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>